.loading {
    z-index: 100;
    min-height: 200px;
    background-size: auto;
    background: rgba(255, 255, 255, 0.43) url(../img/loader-1.gif) no-repeat center !important;
}
.loading > * {
    visibility: hidden;
}
.alert-success{
    border-radius: 0;
    border: none;
    background-color: #ff6f61;
    color: #fff;
    font-weight: 500;
    border-left: 2px solid #1f1f1f;
}
.modal-dialog-vertical .modal-content{
    height: 100%;
}
.input-qty{
    width: 100px;
}